<section class="cards">
  <h2>The Smart Alternative to Re-Roofing.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_droplet.svg" alt="" />
      <h3>Seamless, Leak-Free Protection</h3>
      <p>
        Elastomeric coatings create a fully bonded surface with no joints or seams—ideal for stopping leaks before they start.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_lifespan.svg" alt="" />
      <h3>A Cost-Effective Roofing Solution</h3>
      <p>
        Extend the life of your existing roof without the expense of a full replacement.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_downtime.svg" alt="" />
      <h3>When You Can’t Afford Downtime</h3>
      <p>
        Coatings install quickly and with minimal disruption, making them perfect for occupied buildings and time-sensitive projects.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_mesh.svg" alt="" />
      <h3>Custom Protection at Weak Points</h3>
      <p>
        Coatings can be reinforced with fabric sheets between coats. This allows for flexible protection over seams and penetrations.
      </p>
    </div>
  </div>
</section>
