<section class="cards">
  <h2>Smart, Strong, and Energy-Efficient.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_worker.svg" alt="" />
      <h3>Installed by Trained Specialists</h3>
      <p>
        Our crews are trained in heat-welding techniques and manufacturer-specific methods for proper system performance.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_change.svg" alt="" />
      <h3>Cool Roof, Lower Bills</h3>
      <p>
        TPO’s reflective white surface helps cut cooling costs by deflecting solar heat before it enters the building.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_flat.svg" alt="" />
      <h3>Ideal for Large Commercial Roofs</h3>
      <p>
        TPO is lightweight, flexible, and weldable—making it a top performer on expansive flat roof systems.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_eco.svg" alt="" />
      <h3>Sustainable Roofing Choice</h3>
      <p>
        TPO is 100% recyclable at the end of its life cycle, making it a smart option for sustainability-focused facilities.
      </p>
    </div>
  </div>
</section>
