<section class="cards">
  <h2>Clear Choice. Solid Results.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_window.svg" alt="" />
      <h3>More Than Just a View</h3>
      <p>
        Modern windows offer better insulation, security, and UV protection—making them a smart upgrade inside and out.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_soundwave.svg" alt="" />
      <h3>Improved Sound Control</h3>
      <p>
        Many modern windows reduce outside noise, making your home feel more peaceful, especially near roads or busy areas.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_savings.svg" alt="" />
      <h3>Lower Bills</h3>
      <p>
        Energy Star® estimates that homeowners can reduce their utility bills by 12% by upgrading to energy-efficient windows.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_brokenseal.svg" alt="" />
      <h3>When It’s Time to Replace</h3>
      <p>
        Fogged glass, drafts, or difficulty opening can indicate seal failure or aging frames that may need attention.
      </p>
    </div>
  </div>
</section>
