<section class="cards">
  <h2>LOREMIPSOMDOLORSITAMETCONSECTETURADIPISCINGELITSEDDOEIUSODTEMPOR</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/AOEUAOEUOAEU.svg" alt="" />
      <h3>LOREMIPSOMDOLORSITAMETCONSECTETURADIPISCINGELITSED</h3>
      <p>
        LOREMIPSOMDOLORSITAMETCONSECTETURDIPIS
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/AOEUOAEUOAEU.svg" alt="" />
      <h3>LOREMIPSOMDOLORSITAMETCONSECTETURADIPISCINGELITSED</h3>
      <p>
        LOREMIPSOMDOLORSITAMETCONSECTETURDIPIS
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/AOEUAOEUOAEU.svg" alt="" />
      <h3>LOREMIPSOMDOLORSITAMETCONSECTETURADIPISCINGELITSED</h3>
      <p>
        LOREMIPSOMDOLORSITAMETCONSECTETURDIPIS
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/AOEUAOEUAOEU.svg" alt="" />
      <h3>LOREMIPSOMDOLORSITAMETCONSECTETURADIPISCINGELITSED</h3>
      <p>
        LOREMIPSOMDOLORSITAMETCONSECTETURDIPIS
      </p>
    </div>
  </div>
</section>
