<section class="cards">
  <h2>The Classic Roof, Done Rite.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_ranked.svg" alt="" />
      <h3>Roof Rite's Proven Track Record</h3>
      <p>
        We’ve installed thousands of asphalt shingle roofs with lasting performance. Our crews are trained to meet the highest installation standards every time.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_houses.svg" alt="" />
      <h3>Style Options for Every Home</h3>
      <p>
        From subtle neutrals to bold textures, architectural and designer shingles can dramatically boost curb appeal.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_supplier.svg" alt="" />
      <h3>Affordable Without Cutting Corners</h3>
      <p>
        We work with top-tier manufacturers to ensure budget-friendly options still come with strong warranties and premium materials.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_hammer.svg" alt="" />
      <h3>Signs to Look Out For</h3>
      <p>
        Look for curling, granule loss, and missing or deteriorating shingles, these signs often mean it's time for a replacement before deeper damage sets in.
      </p>
    </div>
  </div>
</section>
