<section class="cards">
  <h2>Why choose Roof Rite?</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_hometown.svg" alt="" />
      <h3>The Service of an Established Local Company</h3>
      <p>
        We're proud of our roots, and you can expect the same local service today as you could when we first opened our doors.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_highway.svg" alt="" />
      <h3>The Experience of an Interstate Contractor</h3>
      <p>
        While we've remained local, we've been sought after from all over the nation. It's given us a wealth of experience in Residential, Commercial, and Multi-Family work.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_checklist.svg" alt="" />
      <h3>Code Compliant Workmanship</h3>
      <p>
        Our staff is nationally certified with the ICC to read and interpret building code.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_worker.svg" alt="" />
      <h3>Our Seasoned Production Staff</h3>
      <p>
        Our production staff has decades of professional experience in roofing, gutters, siding, windows, and an array of other restoration trades.
      </p>
    </div>
  </div>
</section>
