<section class="cards">
  <h2>Built for Decades. Backed by Expertise.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_durability.svg" alt="" />
      <h3>Built to Withstand It All</h3>
      <p>
        Metal roofs are engineered to resist fire, wind, and corrosion—ideal for demanding commercial environments.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_timeismoney.svg" alt="" />
      <h3>When Longevity Is Non-Negotiable</h3>
      <p>
        With lifespans of 50+ years and minimal maintenance, metal roofing delivers unmatched return on investment.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_hall.svg" alt="" />
      <h3>Design Flexibility for Any Structure</h3>
      <p>
        Choose from standing seam, ribbed, or custom panels in a range of colors and finishes to match your building’s aesthetic.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_worker.svg" alt="" />
      <h3>Roof Rite’s Commercial Metal Experts</h3>
      <p>
We specialize in complex metal installs, from retrofits to new builds executed with precision and tailored to your facility.      </p>
    </div>
  </div>
</section>
