<section class="cards">
  <h2>Historic Style. Modern Expertise.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_handcrafted.svg" alt="" />
      <h3>Handcrafted Installation</h3>
      <p>
        Every cedar roof we install is carefully crafted for proper spacing, ventilation, and water shedding to ensure maximum life span.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_timeless.svg" alt="" />
      <h3>Timeless Curb Appeal</h3>
      <p>
        Classic cedar shakes are perfect for historic homes or standout custom builds. Their color becomes a sharp silver over time.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_green.svg" alt="" />
      <h3>Lower Impact</h3>
      <p>
        Wood Shakes have a low impact on the environment and perform exceptionally well against hail.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_algae.svg" alt="" />
      <h3>When Shakes Start to Fail</h3>
      <p>
        Look for signs like curling, splitting, or moss growth. These can signal moisture problems or aging materials in need of cleaning, repair, or replacement.
      </p>
    </div>
  </div>
</section>
