<section class="cards">
  <h2>Clean Work Is Quality Work.</h2>
  <div class="cardrow">
    <div class="card">
      <img src="/assets/img/card_cone.svg" alt="" />
      <h3>Thoughtful from Start to Finish</h3>
      <p>
        From protective tarping to final magnetic sweeps, we take steps every day to minimize mess and maximize safety.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_clean.svg" alt="" />
      <h3>It’s Not Done Until It’s Clean</h3>
      <p>
        We treat cleanup as part of the job, not an afterthought, because we respect your property.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_equipment.svg" alt="" />
      <h3>Equipment We Own, Not Rent</h3>
      <p>
        We own our cleanup equipment outright through our sister company. It’s always available, maintained, and ready for your project without delay.
      </p>
    </div>
    <div class="card">
      <img src="/assets/img/card_break.svg" alt="" />
      <h3>Protecting More Than Just the Roof</h3>
      <p>
        Without proper debris control, roofing waste can scuff siding, dent gutters, and stain walls. We take all precautions to ensure your property’s safety.
      </p>
    </div>
  </div>
</section>
