<section class="badges">
  <a href="https://www.bbb.org/us/ne/lincoln/profile/roofing-contractors/roof-rite-llc-0714-300106005">
    <img src="/assets/img/badges/BBB.svg" alt="BBB A+ Badge."/>
  </a>
  <a href="https://www.iccsafe.org/" target="_blank">
    <img src="/assets/img/badges/icc.svg" alt="ICC logo with Certified Staff written below it." />
  </a>
  <a href="https://www.bravarooftile.com/" target="_blank">
    <img src="/assets/img/badges/Brava.svg" alt="Brava Certified Contractor Badge"/>
  </a>
  <a href="https://www.gaf.com/en-us/roofing-materials/residential-roofing-materials" target="_blank">
    <img src="/assets/img/badges/GAF3.svg" alt="GAF Certified Residential Badge"/>
  </a>
  <a href="https://www.gaf.com/en-us/roofing-materials/commercial-roofing-materials" target="_blank">
    <img src="/assets/img/badges/GAFCom2.svg" alt="Gold Elite GAF Commercial Contractor Badge"/>
  </a>
  <a href="https://www.lomanco.com/" target="_blank">
    <img src="/assets/img/badges/Lomanco.svg" alt="Lomanco Ventilation Certified Badge"/>
  </a>
  <a href="https://www.malarkeyroofing.com/" target="_blank" >
    <img src="/assets/img/badges/Malarkey.svg" alt="Emerald Pro Malarkey Roofing Contractor"/>
  </a>
  <a href="https://www.jameshardie.com/" target="_blank" >
    <img src="/assets/img/badges/JH.svg" alt="James Hardie Badge"/>
  </a>
  <a href="https://www.mrca.org/aws/MRCA/pt/sp/home_page" target="_blank">
    <img src="/assets/img/badges/MRCA.svg" alt="Midwestern Roofing Contractors Association Badge"/>
  </a>
  <a href="https://naahq.org/" target="_blank">
    <img src="/assets/img/badges/NAA.svg" alt="National Apartment Association Badge"/>
  </a>
</section>
