<form action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="896b17aa-4103-4d7f-b3c1-a162ab64a28d">
  <p>
    First name<br>
    <input type="text" name="first_name" required /><br>
    Last name<br>
    <input type="text" name="last_name" required /><br>
    Email<br>
    <input type="text" name="email" required /><br>
    Phone<br>
    <input type="text" name="phone" required /><br>
    Comment or Message<br>
    <textarea name="message" required></textarea>
  </p>
  <p>
    <button class="button">Contact us</button>
  </p>
</form>
