<footer>
  <div>
    <a href="/about/contact">Contact us</a> |
    <a href="/about/our_company">About our company</a> |
    <a href="/blog">Blog</a> |
    <a href="/">Home</a> |
    <a href="#">Top of page</a>
    <address>
      <p>
        Roof Rite Exteriors<br>
        4608 Pierce Drive<br>
        Lincoln, NE 68504
      </p>
      <p>
        ✉️ info@roofriteexteriors.com<br>
        📞 402-430-9538<br>
      </p>
    </address>
    <p>
      <strong>POSTED IN ACCORDANCE WITH STATE LAWS</strong><br>
      <i>Oregon State License #:</i> 237191<br>
      <i>Washington State License #:</i> ROOFRRL802RZ<br>
      <i>Kansas State License #:</i> 21-013251<br>
      <br>

      Icons attribution: WebTechOps LLP<br>
      Code by <a href="https://johnskinnerportfolio.com/">John Skinner</a><br>
      Website &copy; 2025 Roof Rite Exteriors


    </p>
  </div>
</footer>
