<section id="gallery">
  <h2>Photo gallery</h2>

    <button id="slideleft" type="button">&#10094;</button>
    <div id="galleryscroll">
      <img src="/assets/img/DJI_0016.jpg" 
      alt="An in-progress aerial photo of Roof Rite installing a new Central States, Horizon-Loc, metal roof in forrest green, on a large, log-cabin house out in the Missouri countryside." />
      <img src="/assets/img/IMG_0044.jpg"
      alt="Elegant side view of the historic Muir House, a red-brick Italianate structure with white trim and ornate brackets installed under the soffits of a newly installed roof. The building features arched windows, a white wooden back porch, and a brick driveway lightly dusted with snow. The preserved structure sits surrounded by leafless winter trees, in front of a dim, sunsetting sky."/>
      <img src="/assets/img/IMG_1620.png"
      alt="Roof Rite installed seamless K-style aluminum gutters and downspouts in a dark bronze finish to complement the home's trim and siding, ensuring efficient water management with a clean, modern look."/>
      <img src="/assets/img/IMG_45741.png"
      alt="Roofing crew working on a large roof of a metal building, surrounded by expansive green farmland. Workers in safety gear and helmets are clustered near the edge of the roof, preparing to install new materials. A forklift is partially visible to the left. In the distance, a rural road leads to scattered houses, with fields and cloudy skies filling the background."/>
      <img src="/assets/img/DJI_0165.jpg"
      alt="Mid-range view of a commercial building with a newly coated white elastomeric roof. The structure is labeled 'Aqua System.' Several orange safety cones and workers in safety gear are present on the roof. The background shows industrial buildings and large grain silos under a clear blue sky."/>
      <img src="/assets/img/DJI_0171-1.jpg"
      alt="High angle aerial view of the Arbor Day Farm Tree Adventure building, featuring a vibrant GAF Timberline HDZ roof in Patriot Red, installed by Roof Rite. Surrounded by winding paths, gardens, and tree-lined trails, the red roof adds a striking contrast to the lush green landscape."/>
      <img src="/assets/img/DJI_0175.jpg" 
      alt="A Roof Rite crew member in a high-visibility shirt installs a white TPO membrane on a flat commercial roof. The insulation boards beneath are marked and fastened with places and screws. Paint roller that is used to fully adhere the TPO lies in the foreground, and nearby rooftops and trees are visible in the background under a partly cloudy sky."/>
      <img src="/assets/img/DJI_0322_1.jpg"
      alt="Elegant residential home with freshly installed natural cedar shake roofing installed by Roof Rite, in an established, wooded area. The roofline and victorian turret complement the home's arched windows, gray stucco walls, and stone chimney. Surrounded by tall trees and landscaped greenery, the cedar shakes add a warm, classic aesthetic to the property."/>
      <img src="/assets/img/DJI_0477.jpg"
      alt="Aerial top-down view of Roof Rite's flat roof installation in progress using Carlisle EPDM Membrane. Roofing workers, tools, cones, and roof accessories are spread across the surface. Neighboring gravel and shingle roofs provide contrast. The building is adjacent to a house and parking area with vehicles and bike stalls." />
    </div>
    <button id="slideright" type="button">&#10095;</button>

  <script>
    const buttonRight = document.getElementById('slideright');
    const buttonLeft = document.getElementById('slideleft');

    buttonRight.onclick = function () {
      document.getElementById('galleryscroll').scrollBy({
        left: 500,
        behavior: "smooth"
      });
      document.getElementById('slideleft').style.display = "inline";
    };
    buttonLeft.onclick = function () {
      document.getElementById('galleryscroll').scrollLeft = 0;
      document.getElementById('slideleft').style.display = "none";
    };
  </script>
</section>
