<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Work+Sans" rel="stylesheet">
<link rel="icon" href="favicon.ico">

<title>{{ title }}</title>
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="/assets/img/logo.png" alt="a modern logo for Roof Rite Exteriors with blue, rounded letters, and a residential and commercial building in the background."/>
