<section class="locations">
  <h2>We've got you covered.</h2>
  <div class="locationsrow">
    <img src="/assets/img/us.svg" />
    <div class="locationslist">
      <p>
        While our headquarters remains in Lincoln, our teams are always in motion. We’re deploying crews, managing schedules, and providing on-site support across dozens of markets. That means faster responses, clearer communication, and fewer surprises for our clients, whether we’re 5 blocks, or 5 <i>states</i> away.
        <br><br>
        Our steady growth hasn’t come from chasing every opportunity; it’s come from delivering consistently, earning trust, and building lasting relationships. <strong>We go wherever your investments are</strong>, bringing midwest service to major US cities.
      </p>
    </div>
  </div>
</section>
