---
title: Roof Rite Exteriors
description: "Roof Rite Exteriors: The trusted source for all your exterior needs"
hero_image: "/assets/img/hero.png"
hero_alt: "A jobsite, Roof Rite Exteriors working on two asphalt residential roofs"
---

<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    
    {% include "header.njk" %}

    {% include "nav.njk" %}

    {% include "hero_image.njk" %}

    <main>
      <div class="maintext">
        {{ content | safe }}
      </div>
    </main>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | fingerprint }}">
    <script defer src="{{ '/assets/js/gallery.js' | fingerprint }}"></script>


    {% include "footer.njk" %}

  </body>
</html>
